extends layout

block content
  h1= title
  #main_list
    ul(class='list')
      each bundle_data, bundle in data.bundles
        li
          a(href='/#{data.id}/#{bundle}', class="name")
            = bundle
          each version in bundle_data.versions
              |  
              sup
                  a(href='/#{data.id}/#{bundle}.#{version}')= version

  #dump
    pre(class="prettyprint lang-js")