extends layout

block content
  .page-header
    h2= title

  form.form-inline(onSubmit='return window.location += document.getElementById("catalog").value, false')
    label Browse catalog:
    | 
    .input-append
      input(type='text', value='#{default_catalog}', id='catalog')
      input.btn(type='submit', value='Go')