extends layout

block content
  h2= title
  label Goto catalog:
    input(type='text', value='com.mindsnacks.lessons', id='catalog')
    input(type='button', value='Go', onclick='window.location += document.getElementById("catalog").value')